.walletCard {
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 30px;
  max-width: var(--max-width);

  p {
    margin: 0 5px 0 15px;
    font-size: 1em;
  }
}

.selected {
  background-color: var(--primary-color);
}

.unselected {
  cursor: pointer;
}
